# Copiar a ".env" (no versionar ni pegar en capturas). Ver p1-banca/README.md
# paso 0 y "make lab1-license".
#
# Licencia docente de CockroachDB (opcional). Si se deja vacía, el clúster
# sigue funcionando: CockroachDB otorga un período de prueba automático
# para las funciones Enterprise/multi-región (REGIONAL BY ROW, LOCALITY
# GLOBAL) que usa el esquema de p1-banca/sql/01_schema.sql. Si el equipo sí
# tiene una licencia docente, complétenla aquí antes de correr
# "make lab1-license".
COCKROACH_LICENSE=
COCKROACH_ORGANIZATION=
